body {
    background-color: cornflowerblue;
    font-family: sans-serif;
}

h1,
h4 {
    color: rgb(48, 48, 48);
    text-align: center;
}

p {
    font-size: 0.75rem;
    color: rgb(48, 48, 48);
    text-align: left;
    margin-left: 5rem;
    margin-right: 5rem;
}

ol,
li {
    font-size: small;
    color: rgb(48, 48, 48);
    text-align: left;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

fieldset {
    margin: 2rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    border: rgb(48, 48, 48);
    border-width: 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.292);
    background-color: white;
}

div#groupBorder {
    text-align: center;
}

div#loginBorder {
    text-align: center;
}

.form-submit-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    border: 1rem;
    border-width: 1rem;
    border-color: rgb(48, 48, 48);
    border-radius: 1rem;
    background-color: cornflowerblue;
    color: white;
    margin: 0 0.1em 0.1em 0;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);

}

.button:hover{
    background-color: rgb(153, 187, 252);
    
}
