body {
    background-color: cornflowerblue;
    font-family: sans-serif;
}

h1,
h4 {
    color: rgb(48, 48, 48);
    text-align: center;
}

p {
    font-size: 0.75rem;
    color: rgb(48, 48, 48);
    text-align: left;
    margin-left: 20rem;
    margin-right: 20rem;
}

ol,
li {
    font-size: small;
    color: rgb(48, 48, 48);
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
}

fieldset {
    margin: 5rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    border: rgb(48, 48, 48);
    border-width: 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.292);
    background-color: white;
}

div#groupBorder {
    text-align: center;
}

.button {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    border-width: .15rem;
    border-color: rgb(74, 132, 240);
    border-radius: 1rem;
    background-color: cornflowerblue;
    color: white;
    font-size: .85rem;
    margin: 0 0.1em 0.1em 0;
    margin-top: .5rem;
    padding: .25rem .75rem;
    text-align: center;
    text-decoration: none;
    text-shadow: .07em 0.07em 0.1em rgba(0, 0, 0, 0.6);
}

.button:hover {
    border-color: rgba(74, 132, 240, 0.8);
    background-color: rgba(100, 148, 237, 0.8);
    text-shadow: .07em 0.07em 0.1em rgba(0, 0, 0, 0.6);
}
