<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" type="text/css" />
        <link rel="icon" type="image/png" href="/loony.png">
        <title>GroupMe Mutual Member Finder</title>
    </head>

    <body>
        <fieldset>
            <h1>Deletion Was Successful</h1>
            <div id="groupBorder">
                <h3>Your data has been deleted.</h3>
                Number of groups deleted: <%- groups %>
                <br />
                Number of users deleted: <%- members %>
                <br />
                <br />
                <a href="/" class="button">Continue</a>
            </div>
        </fieldset>
    </body>
</html>
