<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>GroupMe Mutual Member Finder</title>
</head>
<body>
    <fieldset>
        <h1>Deletion Was Successful</h1>
        Your data has been deleted.
        Number of groups deleted: <%- groupsNumber %>\n
        Number of users deleted: <%- usersNumber %>\n
        <a href="/" class="button">Continue</a>    
    </fieldset>
</body>
</html>