<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupMe Mutual Member Finder</title>
</head>
<body>
    <h1>GroupMe Mutual Member Finder</h1>
    <br><br><br><br>
    <form method="post" action="/login">
        <input type="submit" value="Log In">
    </form>
</body>
</html>