<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>GroupMe Mutual Member Finder</title>
</head>

<body>
    <fieldset>
        <h1>Compare Groups for Mutual Members</h1>
        <h4>
            <a href="/login">Click here to enter your token and fetch groups</a>
        </h4>
        <br /><br />
        <div id="groupBorder">
            <form method="post" action="/compare">
                <!-- add dropdown menu for group 1 -->
                Group 1:
                <input list="group1-options" name="group1-choice" required />
                <datalist id="group1-options">
                    <option value="1"></option>
                    <%- options %>
                </datalist>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                <!-- add dropdown menu for group 1 -->
                Group 2:
                <input list="group2-options" name="group2-choice" required />
                <datalist id="group2-options">
                    <option value="1"></option>
                    <%- options %>
                </datalist>

                <!-- submit button -->
                <br><br>
                <input type="submit" class="button" value="Submit Group Choices" />
            </form>

            <!-- delete data from database -->
            <form method="post" action="/delete">
                <input type="submit" class="button" value="Delete Data" />
            </form>

            <br>
            <!-- add the table of members here -->
            <%- table %>
        </div>

    </fieldset>
</body>

</html>