<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" type="text/css" />
        <title>GroupMe Mutual Member Finder</title>
    </head>
    <body>
        <fieldset>
            <h1>Log In to GroupMe</h1>
            <div id="groupBorder">
                <form method="post" action="/login">
                    GroupMe Token:
                    <input type="text" id="token" name="token" /><br/><br>
                    <input type="submit" class="button" value="Log In" id="login" name="login" /><br><br>
                </form>

                <!-- Explain how to get token -->
                <div id="listBorder">
                <p>
                    <strong> How to get your GroupMe token:</strong><br>
                    <ol>
                        <li>&nbsp; Log in to <a href="web.groupme.com">web.groupme.com</a> with your phone number and password.</li>
                        <li>&nbsp; Press Ctrl+Shift+I to open the developer tools, then click on a group or DM conversation in GroupMe.</li>
                        <li>&nbsp; Go back to the developer tools and use the picture below to follow these steps:
                            <ol>
                                <li>&nbsp;Switch to the Network tab at the top. If you don't see it, you may need to make your screen wider.</li>
                                <li>&nbsp;Click Fetch/XHR.</li>
                                <li>&nbsp;Select a request. If you don't see any requests, click another group or DM on GroupMe.</li>
                                <li>&nbsp;Scroll to the bottom to find your token. If you don't see it, select another request.</li>
                                <li>&nbsp;If none of the requests have a token, click another group or DM on GroupMe to generate more requests.</li>
                            </ol>
                        </li>
                        <li>&nbsp; Copy and paste the token into the box above.</li>
                    </ol>
                </p>
                <img src="/instructions.png">
            </div>
            </div>
        </fieldset>
    </body>
</html>
