<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/style.css'/>
    <title>GroupMe Mutual Member Finder</title>
</head>
<body>
    <h1>Log In to GroupMe</h1>
    <br><br><br><br>
    <form method="post" action="/login">
        <p>GroupMe Token: </p> <input type="text" id="token" name="token"><br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>