<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/loony.png">
        <link rel="stylesheet" href="style.css" type="text/css" />
        <title>GroupMe Mutual Member Finder</title>
    </head>
    <body>
        <fieldset>
            <h1>Log In to GroupMe</h1>
            <div id="groupBorder">
                <h3>Congratulations! Your data has been loaded.</h3>
                <a href="/" class="button">Continue</a>
            </div>
        </fieldset>
    </body>
</html>
